.busca {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 40px;
}
.busca p {
  color: #6c757d;
  font-size: 16px;
  font-weight: 600;
  margin-right: 32px;
}
#campo-busca::placeholder {
  color: #6c757d;
  font-family: "Prompt";
  font-size: 16px;
  padding: 8px 0 8px 8px;
}
.busca input {
  border: 1px solid #6c757d;
  border-radius: 8px;
  font-family: "Prompt";
  font-size: 16px;
  height: 40px;
  width: 300px;
  padding-left: 12px;
}
input[type="search"]:focus {
  background-image: none;
  outline: none;
  text-decoration: none;
}
input[type="search"]::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration {
  display: none;
}
@media (max-width: 1060px) {
  .busca {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .busca p {
    margin-bottom: 12px;
    margin-right: 0;
  }
}
.lista-tarefas {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  justify-content: center;
  text-align: center;
  margin-right: 25%;
  margin-left: 25%;
  border-radius: 8px;
}
.card-Estudos {
  background: #f9f0ff;
}
.card-Trabalho {
  background: #e9f7ff;
}
.card-Casa {
  background: #e7e8ff;
}
.card-Feito {
  text-decoration: line-through;
}
.listagem-tarefas {
  min-height: 80vh;
}
.listagem-tarefas h2 {
  font-size: 32px;
  font-family: "Prompt";
  font-weight: 400;
  line-height: 48px;
}
.ilustracao {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
h2 {
  font-size: 32px;
  margin-right: 88px;
  margin-left: 40px;
}
button {
  border-style: solid;
  border-color: rgb(175, 193, 207);
  background-color: rgba(245, 245, 245, 0.871);
  border-radius: 8px;
  margin-right: 10px;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 16px;
  border: none;
  width: max-content;
}
.botao-criar {
  display: flex;
  justify-content: center;
  margin-bottom: 28px;
}
.botao-criar button {
  background: #263238;
  border-radius: 8px;
  color: #ffffff;
  font-family: "Prompt";
  font-weight: 600;
  font-size: 16px;
  padding: 8px 16px;
  line-height: 24px;
}
.botoes-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.botao-form {
  font-family: "Prompt";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  width: 94px;
  height: 40px;
  margin-bottom: 0;
}
.botao-salvar {
  background: #63b77c;
}
.botao-cancelar {
  background: #f89185;
}
.botao-desabilitado {
  background: #6c757d;
  cursor: default;
}
.botao-editar,
.botao-deletar {
  padding: 0;
  margin: 4px 0;
}
.botao-editar {
  margin-right: 16px;
}
.botoes-card {
  display: inline-flex;
  margin-right: 12px;
}
.input-invalido {
  border-color: red !important;
  margin-bottom: 0 !important;
}
.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffe4d6;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border-radius: 8px;
  padding: 24px;
  margin-right: 25%;
  margin-left: 25%;
  margin-bottom: 32px;
}
