input {
  font-weight: 400;
}
.form-tarefa {
  font-family: "Prompt";
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
  border-radius: 8px;
  background: #ffffff;
  border: 1px solid #7b6c7d;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  height: 40px;
  padding-left: 8px;
  text-decoration: none;
}
option:disabled {
  color: #6c757d;
}
.formulario label {
  padding-bottom: 4px;
}
select:focus,
input:focus {
  outline: 0;
}
.conteudo {
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
  margin-top: 24px;
  margin-bottom: 12px;
}
.botoes-card button {
  background-color: inherit;
}
.card-descricao {
  grid-area: "card-descricao";
  font-size: 21px;
  font-weight: 600;
  color: #263238;
  line-height: 24px;
  margin-left: 16px;
  margin-right: 16px;
  text-align: left;
  word-break: break-word;
  max-width: 70%;
  margin-top: 0;
}
.status-tarefa {
  grid-area: "status";
  grid-column: span 3;
  border-radius: 8px;
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  font-family: "Prompt";
  color: #263238;
}
.status-tarefa button {
  cursor: pointer;
  margin-top: 55px;
  background-size: contain;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #6c757d;
}
.status-tarefa button:hover {
  border-color: #84d39b;
}
.prioridade-tarefa {
  grid-area: "prioridade";
  margin-left: 8px;
  margin-top: 16px;
  border-radius: 8px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-family: "Prompt";
  color: #263238;
  padding-right: 8px;
  padding-left: 8px;
}
.prioridade-Alta {
  background: #f7a9a0;
}
.prioridade-Normal {
  background: #ffd67f;
}
.prioridade-Baixa {
  background: #abe5bc;
}
.categoria-tarefa {
  grid-area: "categoria";
  margin-left: 8px;
  margin-top: 16px;
  border-radius: 8px;
  font-size: 16px;
  display: flex;
  align-items: center;
  height: 40px;
  font-family: "Prompt";
  color: #263238;
  padding-right: 8px;
  padding-left: 8px;
}
.categoria-tarefa img {
  padding-right: 8px;
}
.info-card {
  display: grid;
  grid-template-columns: min-content min-content repeat(3, 1fr);
  grid-template-areas: "categoria prioridade status" "descricao";
  margin-left: 8px;
  box-sizing: border-box;
}
.icone-unchecked {
  background: transparent;
}
.icone-checked {
  background-image: url("/assets/icones/check-Feito.png");
}
.categoria-Casa {
  background: #b2b6ff;
}
.categoria-Estudos {
  background: #d499ff;
}
.categoria-Trabalho {
  background: #8ad4ff;
}
.ng-template {
  text-align: center;
  margin-top: 48px;
  margin-top: 96px;
}
input::placeholder {
  color: #000000;
}
@media (max-width: 890px) {
  .ilustracao {
    display: flex;
    flex-direction: column;
  }
  .ilustracao h2 {
    margin-right: 0;
    margin-left: 0;
  }
}
@media (max-width: 650px) {
  .info-card {
    display: flex;
    flex-direction: column;
    width: min-content;
    margin-left: 0;
  }
  .prioridade-tarefa,
  .categoria-tarefa {
    margin-left: 0;
  }
  .lista-tarefas {
    display: flex;
    align-items: center;
  }
  .criar-tarefa button {
    margin-top: 32px;
  }
  .card-descricao {
    margin-top: 30px;
  }
  .icone-checked,
  .icone-unchecked {
    margin-right: 25%;
  }
}
@media (max-width: 504px) {
  .botoes-form {
    flex-direction: column;
  }
}
